<div class="container">
  <div class="row">
    <div class="col-sm-2">

      <!-- Tools and Options -->
      <ul>
        <li>
          <button (click)="selectTool('brush')">Brush</button>
        </li>
        <li>
          <button (click)="selectTool('eraser')">Eraser</button>
        </li>
        <li>
          <input type="range" min="1" max="50" [(ngModel)]="brushSize" />
        </li>
        <li>
          <input type="color" [(ngModel)]="selectedColor" />
        </li>
      </ul>
      <div>
        <div class="row buttons">
          <button class="clear-canvas" (click)="clearCanvas()">Clear
            Canvas</button>
          <button class="save-img" (click)="saveDowingImage()">Save As
            Image</button>
        </div>
      </div>
      <!-- Color Palette -->
      <div class="color-palette">
        @for(color of colors ; track color){
        <!-- *ngFor="let color of colors" -->
        <div
          [style.background]="color"
          (click)="selectedColor = color"
          [class.selected]="color === selectedColor"></div>
        }
      </div>
    </div>
    <div class="col-sm-10">
      <!-- Canvas -->
      <canvas
        #drawingCanvas
        id="drawingCanvas"
        width="1920"
        height="720"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"></canvas>
    </div>
  </div>
</div>
