.color-palette {
  display: flex;
  flex-wrap: wrap;
}

.color-palette div {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.color-palette div.selected {
  border: 2px solid white;
}

#drawingCanvas {
  border: 1px solid black;
  cursor: crosshair;
}
